numpy
scipy
matplotlib
cvxpy
qpth
roboticstoolbox-python
hydra-core
hydra-colorlog
# torch (download from pytorch.org)
# torchvision (compile it with the same cuda version as pytorch)
pytorch-lightning
mayavi
pymanopt
wandb
imageio[ffmpeg]

-e .

